html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Acme&family=Black+Ops+One&family=Boogaloo&family=Caveat+Brush&family=Cinzel&family=Coiny&family=Dancing+Script&family=Fjalla+One&family=Graduate&family=Josefin+Slab:wght@300&family=Lobster&family=Mali&family=Pacifico&family=Permanent+Marker&family=Princess+Sofia&family=Roboto&family=Shadows+Into+Light&family=Special+Elite&display=swap');


.outer{
  height: 100%;
}

.designTable{
  height: 100%;
}

#placeHolder{
  border-style: dashed;
  margin: 0 auto;
  border-width: 1px;
  border-color: white;
  
}

.hoverButton {
  cursor: pointer;
  color: black;
  text-align: center;
}

.bottom-line {
  z-index: 1080;
  bottom:5%;
}

.hoverButton:hover{
  background-color: #f8f9fc;
  color:green;
}

.mt-45 {
  margin-top: 3.6%;
}

.h-8{
  height: 8vh;
}
.h-9{
  height: 9vh;
}

.h-81{
  height:81vh;
}
.h-60{
  height:60vh;
}

.h-50{
  height: 50vh;
}

.set-hover {
  background-color:'none'
}

.highligh-bg{
  background-color:rgb(228, 228, 228)
}

.set-hover:hover{
  background-color:rgb(228, 228, 228)
}

.bg-gray{
  background-color:#f7f7f7
}

.overflow-y-scroll{
  overflow-y: scroll;
}

.w-half{
  width: 50%;
}

.w-quater{
  width: 25%;
}

.w-30p{
  width:30%
}

.w-80p{
  width:90%
}

.h-screen{
  height: 100vh;
}

.h-full{
  height: 100%;
}

.w-full{
  width: 100%;
}



.py-3point5 {
  padding-top: 1.4rem !important;
  padding-bottom: 1.28rem !important;
}

.py-2point5 {
  padding-top: 0.85rem !important;
  padding-bottom: 0.85rem !important;
}

.add-design-button {
  border-style: dashed;
  border-width: 1px;
  border-color: gray;

  padding: 1rem;
  margin-top: 1rem;

  cursor: pointer;
}

.add-design-button:hover {
  color:rgb(48, 167, 48)
}

.cursor-pointer {
  cursor: pointer;
}

.custom-input{
  width: 100%;
  outline: none;
  height: 2.5rem;
  padding-left: 0.6rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border:1px solid;
  border-color: gray;
}

.custom-input-tag{
  width: 100%;
  height: 100%;
  background-color: rgb(184, 184, 184,0.2);
  border:solid gray;
  border-width: 1px 1px 1px 0px;
  text-align: center;
  height: 2.5rem;
  padding-top:0.5rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.is-select{
  background-color:#2F55D4;
  color: white;
  display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.border-blue{
  border-radius: 50%;
  border-color: #2F55D4;
  border:2px solid;
}

.my-button:hover {
  background-color: #2F55D4;
  color:white;}

.my-button{
  background-color:rgba(121, 152, 253, 0.082);
  display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.small-card{
  width: 20%;
  outline: none;
  height: 2.5rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0;
  border:0px;
}

.icon-warning{
  color: rgb(211, 0, 21);
}

.icon-success{
  color: green;
}

.category-active{
  color : #2F55D4;
}
.design-detail{
  display: flex;
  justify-content: space-between;
}

.sold-number{
  font-weight: 80;
  font-style: italic;
}
.designer{
    font-weight: 80;
  font-style: italic;
}
ul.list-unstyled {
    margin: 0 0 0;
}


.warning-cart-text{
  display: flex;
  justify-content: center;
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-quantity{
  width: 40px;
  height: 36px;
  border: 1px solid #eceffc;
  border-radius: 1px;
  text-align: center;
  outline: none;
}


.checkout-button-momo {
  display: flex;
  align-items: center;
  border: 1px solid #ae2070;
  padding: 5px;
  border-radius: 5px;
  width: 60%;
}

.checkout-button-zalo {
  display: flex;
  align-items: center;
  border: 1px solid #330fd3;
  padding: 5px;
  border-radius: 5px;
  width: 60%;
}

.checkout-button img {
    padding-left: 10px;
  height: 50px;
  width: 50px;
 }

.content{
  padding-left: 15px;
}

.checkout-content{
  padding-left: 15px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .checkout-title{
  color: #000;
  font-size: 13pt;
  font-weight: 600;
}
.content .description{
  color: #666
}

input[type="radio"]:hover{
  cursor: pointer;
}